/EscritorioCuponSmart/CuponSmart/build/
/EscritorioCuponSmart/CuponSmart/dist/
/EscritorioCuponSmart/CuponSmart/nbproject/private/
EscritorioCuponSmart/EscritorioCuponSmart/CuponSmart/src/utils/Constantes.java